# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/

# IDE settings
.vscode/
.idea/

# Streamlit cache
.streamlit/
*.streamlit/

# OS metadata
.DS_Store


